
//- Metadata for pages

- var metadata = [ {title: 'This is my first post', description: 'This is the description of my first post', category: 'Awesome' , url: '/first-post.html', date: 'Sat, 21 Feb 2015 09:13 GMT'}, {title: 'This is my second post', description: 'This is the description of my second post', category: 'Not Awesome', url: '/second-post.html', date: 'Sat, 21 Feb 2015 09:13 GMT'} ];


//- Global variables

- siteUrl = 'http://ivanjuras.com'
- siteTitle = 'IndentUI : A Web Framework With Indented Syntax'


//- Page variables

- metaDesc = 'Meta Description : IndentUI'


//- Webmaster tools & analytics validation

- bingWMTValidate = '--BING WEBMASTER TOOLS VALIDATION NUMBER--'
- googleWMTValidate = '--GOOGLE WEBMASTER TOOLS VALIDATION NUMBER--'
- uaNumber = '--ADD UA HERE--'


//- jQuery on page

- jQuery = true