//- Head variables

- var pageTitle = "Page Title : IndentUI"
- var metaDesc = "Meta Description : IndentUI"


//- Webmaster tools validation 

- var msvalidate = "--BING VALIDATION NUMBER--"


//- Body variables

- var jQuery = true