a.btn--to-top(href="javascript:void(0)"): i.fa.fa-chevron-up
if jQuery
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
//- include core-search
script(src="/assets/js/script.min.js")
</body></html>