//- Head variables

- var pageTitle = "Page Title : IndentUI"
- var metaDesc = "Meta Description : IndentUI"

//- Webmaster tools validation 

- var msvalidate = "96046B7ECFDAAB2E0BEA3D2505C820ED"

//- Body variables

- var jQuery = true