block config
  include core-config

doctype html
<html lang="en">
head
  title #{pageTitle}
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="description" content=metaDesc)
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto+Slab:300,400")
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300")
  link(rel="stylesheet", href="css/style.css")
  include core-analytics
<body>