
//--------------------- btn template -------------------- // 

.btn.btn--l.btn--a: a(href="LINK"): block btn--content
  | See What I Do


//--------------------- btn--to-top template -------------------- // 

a.btn--to-top(href="javascript:void(0)"): block btn--to-top--content
  i.fa.fa-chevron-up


//--------------------- btn--hamburger template -------------------- //

.btn--hamburger: block btn--hamburger--content
  | Menu <i class="fa fa-bars"></i>