
//--------------------- btn template -------------------- // 

.btn.btn--l.btn--a: a(href="LINK") See What I Do


//--------------------- btn--to-top template -------------------- // 

a.btn--to-top(href="javascript:void(0)"): i.fa.fa-chevron-up


//--------------------- btn--hamburger template -------------------- //

.btn--hamburger Menu <i class="fa fa-bars"></i>