extends ../../1-Templating/3-Templates/template-post

append config
  - pageTitle = "This is a page title for IndentUI"
  - metaDesc = "A fully customizable framework that makes it easy for you to build web sites and web apps."
  - postTitle = "What is the Best Vacuum Cleaner For Berber Carpet?"
  - postDateMeta = "2015-02-03"
  - postDate = "February 3, 2015"

block main-content

  p This is the first time I'm that close to actually producing something worthwhile. To tell you honestly, it only took me 15 years. I'm a bit embarassed by this, but eventually I will be just fine.

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iste necessitatibus veritatis asperiores a illo, repudiandae tenetur neque iusto saepe fugiat. Ex tempore deserunt, omnis placeat quis quos, nesciunt cumque.

  h2 Lorem Title H2

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sed modi suscipit temporibus voluptates nesciunt voluptate hic, harum neque recusandae officia, omnis inventore quod quo impedit delectus blanditiis velit veritatis!

  h3 Lorem Title H3

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sed modi suscipit temporibus voluptates nesciunt voluptate hic, harum neque recusandae officia, omnis inventore quod quo impedit delectus blanditiis velit veritatis!