
// -------------------- Color Patterns -------------------- //

.pattern--1
  &--a
    border: 1px solid $grey--light
  &--b
    border-top: 1px solid $grey--light
    border-bottom: 1px solid $grey--light
  &--c
    border-bottom: 1px solid $grey--light
  &--d
    border-top: 1px solid $grey--light


.pattern--2
  &--a
    background: $grey--lightest
    border: 1px solid $grey--light
  &--b
    background: $grey--lightest
    border-top: 1px solid $grey--light
    border-bottom: 1px solid $grey--light
  &--c
    background: $grey--lightest
    border-bottom: 1px solid $grey--light