
//-------------------- tab-menu--a -------------------- //

.tab-menu--a

  ul.tab-links--a
    
    li.tab-item--a.is-active: a(href="#tab1") Tab #1
    li.tab-item--a: a(href="#tab2") Tab #2
    li.tab-item--a: a(href="#tab3") Tab #3
    li.tab-item--a: a(href="#tab4") Tab #4

  .tab-content--a
      
    #tab1.tab.is-active
      p Tab #1 content here

    #tab2.tab
      p Tab #2 content here

    #tab3.tab
      p Tab #3 content here

    #tab4.tab
      p Tab #4 content here