
//-------------------- TabMenu -------------------- //

.TabMenu

  ul.TabMenu-tabList
    
    li.TabMenu-tabItem.is-active: a.TabMenu-tabLink(href="#tab1") Tab #1
    li.TabMenu-tabItem: a.TabMenu-tabLink(href="#tab2") Tab #2
    li.TabMenu-tabItem: a.TabMenu-tabLink(href="#tab3") Tab #3
    li.TabMenu-tabItem: a.TabMenu-tabLink(href="#tab4") Tab #4

  .TabMenu-tabContentList
      
    #tab1.TabMenu-tabContent.is-active
      p Tab #1 content here

    #tab2.TabMenu-tabContent
      p Tab #2 content here

    #tab3.TabMenu-tabContent
      p Tab #3 content here

    #tab4.TabMenu-tabContent
      p Tab #4 content here