extends ../../2-Templating/3-Templates/template-index

append config
  - pageTitle = "Indent UI : A Responsive Framework for Websites and Web Apps"
  - metaDesc = "A fully customizable framework that makes it easy for you to build web sites and web apps."

block main-content
  
  .row--b

    .col--4.padding--m.pattern--1--a
  
      h2  Customizable

      p <a href="#">IndentUI</a> is a fully customizable Front-End framework. You can build whatever UI you like, and still save an enormous amount of time. <a href="/posts/post.html">Link to the first post</a>

      p <a href="#">IndentUI</a> is a fully customizable Front-End framework. You can build whatever UI you like, and still save an enormous amount of time. <a href="/posts/post.html">Link to the first post</a>

    .col--4.padding--m.pattern--1--a

      h2  Readable

      p Built exclusively with indented syntax, the code is extremely readable and short. It uses Jade for HTML templating, Sass for CSS and CoffeeScript for behavior.<a href="page.html">Link to the page</a>

      p Built exclusively with indented syntax, the code is extremely readable and short. It uses Jade for HTML templating, Sass for CSS and CoffeeScript for behavior.<a href="page.html">Link to the page</a>

    .col--4.padding--m.pattern--1--a

      h2  Fast

      p Built exclusively with indented syntax, the code is extremely readable and short. It uses Jade for HTML templating, Sass for CSS and CoffeeScript for behavior.<a href="page.html">Link to the page</a>

      p Built exclusively with indented syntax, the code is extremely readable and short. It uses Jade for HTML templating, Sass for CSS and CoffeeScript for behavior.<a href="page.html">Link to the page</a>

  .row--a.padding--xl

    .col--6.text-align--c

      //- First hero image
      img(src="https://www.hotjar.com/static/img/app-forms.png")

    .col--6--reverse--top
      
      //- First hero text

      h1 Form Analytics

      p Improve online form completion rates by discovering which fields take too long to ﬁll, which are left blank, and why your visitors abandon your form and page.

  .row--a.padding--m

    .col--6.text-align--c--bpm--bps

      //- First hero text
      
      h1 Visitor Recordings

      p Eliminate guesswork with recordings of real visitor behaviour on your site. By seeing your visitor's clicks, taps, mouse movements you can identify usability issues on the ﬂy

    .col--6.text-align--c

      //- First hero image

      img(src="https://www.hotjar.com/static/img/app-playbacks.png")