
//-------------------- Search form -------------------- //

form#cse-search-box.search(title="CSE Search" action="/search-results.html")
  input(type="text" name="q" size="")
  input(type="submit" name="sa" value="Search")


//-------------------- Search results -------------------- //

script.
  (function() {var cx='--GOOGLE-CSE-CODE-HERE--';var gcse=document.createElement('script');gcse.type='text/javascript';gcse.async=true;gcse.src=(document.location.protocol=='https:'?'https:':'http:')+'//www.google.com/cse/cse.js?cx='+cx;var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse, s);})();
| <gcse:searchresults-only linktarget="_self"></gcse:searchresults-only> 