extends ../3-Templates/template-index

append config
  - pageTitle = "Indent UI : A Responsive Framework for Websites and Web Apps"
  - metaDesc = "A responsive framework that makes it easy for you to build web sites and web apps."

block main-content
  
  .col--4

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam tenetur, sunt explicabo earum consequuntur, pariatur rem placeat delectus nulla velit, voluptatum suscipit quia ea rerum optio! Quae possimus facilis, quibusdam.

  .col--4

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam tenetur, sunt explicabo earum consequuntur, pariatur rem placeat delectus nulla velit, voluptatum suscipit quia ea rerum optio! Quae possimus facilis, quibusdam.

  .col--4

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam tenetur, sunt explicabo earum consequuntur, pariatur rem placeat delectus nulla velit, voluptatum suscipit quia ea rerum optio! Quae possimus facilis, quibusdam.