extends ../3-Templates/template-index

append config
  - pageTitle = "Indent UI : A Responsive Framework for Websites and Web Apps"
  - metaDesc = "A responsive framework that makes it easy for you to build web sites and web apps."

block main-content
  
  .col--8
    
    h1 This is my main title

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam corporis alias rem, explicabo quaerat rerum voluptate harum molestiae laudantium similique dolorem atque voluptas dolorum, itaque commodi ut officia quo sequi.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam corporis alias rem, explicabo quaerat rerum voluptate harum molestiae laudantium similique dolorem atque voluptas dolorum, itaque commodi ut officia quo sequi.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam corporis alias rem, explicabo quaerat rerum voluptate harum molestiae laudantium similique dolorem atque voluptas dolorum, itaque commodi ut officia quo sequi.
  
  .col--4

    h2 This is my subtitle 

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam debitis doloribus cupiditate quam quod, commodi nulla veritatis maxime impedit, reprehenderit asperiores dolor et odio, enim qui reiciendis voluptatem soluta voluptate?
