
section.hero-block--a.ptrbl--xl.pattern--1--c
  
  .row--b

    .col--12

      h1.hero-headline--a: block hero-headline
        | Build Your Front-end Faster

      h2.hero-tagline--a: block hero-tagline
        | ... without limitations or bloat.
          
      .btn.hero.red: a(href="#features"): block hero-button-text
        | What is IndentUI ?