
section.Container--header

  .Row--a

    .Column--3

      .LogoBlock #[a(href="/") Indent UI]
      
      .Button--hamburger Menu #[i(class="fa fa-bars")]

    .Column--9

      ul.NavMenu
        li.NavMenu-item: a.NavMenu-link(href="") #[i.fa.fa-cog] What I do
        li.NavMenu-item: a.NavMenu-link(href="") #[i.fa.fa-bar-chart-o] Why me?
        li.NavMenu-item: a.NavMenu-link(href="") #[i.fa.fa-folder-open-o] My portfolio
        li.NavMenu-item: a.NavMenu-link(href="") #[i.fa.fa-pencil] Blog
        li.NavMenu-item: a.NavMenu-link(href="") #[i.fa.fa-envelope-o] Contact