section.ContainerL

  .Row--c
    
    .Column--12.Post
      
      h1.Post-title #{postTitle}
      h4.Post-date Last update: <time datetime="#{postDateMeta}">#{postDate}</time>

      block main-content