section.ptrbl--l.pattern--1--c

  .row--c
    
    .Post.col--12
      
      h1.Post-title #{postTitle}
      h4.Post-date Last update: <time datetime="#{postDateMeta}">#{postDate}</time>

      block main-content