
section.hero-block--a.padding--l.pattern--1--c
  
  .row--a

    .col--12

      h1.hero-headline--a: block hero-headline
        | I build converting websites<br> that users and search engines love.

      div.profile

      h2.hero-tagline--a: block hero-tagline
        | Conversion Specialist &nbsp;//&nbsp; UX Designer &nbsp;//&nbsp; Front End Developer
          
      .btn.btn--l.btn--c: a(href="#features"): block hero-button-text
        | See What I Do

      p.padding--m.text-align--c
        i(class="fa fa-facebook")
        i(class="fa fa-google-plus")
        i(class="fa fa-twitter")
        i(class="fa fa-github")