section.ptrbl--l.pattern--1--c

  .row--c
    
    .col--12
      
      h1.post-title #{postTitle}
      h4.post-date Last update: <time datetime="#{postDateMeta}">#{postDate}</time>

      block main-content