
section.hero-block--a.padding--l.pattern--1--c
  
  .row--a

    .col--12

      h1.hero-headline--a: block hero-headline
        | Hero Headline Goes Here

      div.profile

      h2.hero-tagline--a: block hero-tagline
        | Hero Tagline Goes Here
          
      .btn.btn--l.btn--c: a(href="#features"): block hero-button-text
        | Hero Button Text

      p.padding--m.text-align--c
        i(class="fa fa-facebook")
        i(class="fa fa-google-plus")
        i(class="fa fa-twitter")
        i(class="fa fa-github")