
section.hero-block--a.padding--xl.pattern--1--c
  
  .row--a

    .col--12

      h1.hero-headline--a: block hero-headline
        | Build Your Front-End Faster

      h2.hero-tagline--a: block hero-tagline
        | ... without limitations or bloat.
          
      .btn.btn--l.btn--c: a(href="#features"): block hero-button-text
        | What is IndentUI ?