
section.ContainerXL.ContainerXL--standard
  
  .Row--a
  
    .Column--12

      .HeroBlock
        h1.HeroBlock-heroHeadline Build Your Front-End Faster
        h2.HeroBlock-heroTagline ... without limitations or bloat.
        .Button.Button--xl.Button--red: a(href="#features") Show me more