
section.Container--standardXL
  
  .Row--a
  
    .Column--12

      .HeroBlock
        h1.HeroBlock-heroHeadline Build Your Front-end Faster
        h2.HeroBlock-heroTagline ... without limitations or bloat.
        .Button.Button--xl.Button--red: a(href="#features") What is IndentUI ?