
section.Container--header

  .Row--a

    .Column--3

      .LogoBlock: a(href="/" style="text-decoration: none") Indent UI
      
      .Button--hamburger Menu <i class="fa fa-bars"></i>

    .Column--9

      ul.NavMenu
        li.NavMenu-item: a.NavMenu-link(href="")
          <i class="fa fa-cog"></i> What I do
        li.NavMenu-item: a.NavMenu-link(href="")
          <i class="fa fa-bar-chart-o"></i> Why me?
        li.NavMenu-item: a.NavMenu-link(href="")
          <i class="fa fa-folder-open-o"></i> My portfolio
        li.NavMenu-item: a.NavMenu-link(href="")
          <i class="fa fa-pencil"></i> Blog
        li.NavMenu-item: a.NavMenu-link(href="")
          <i class="fa fa-envelope-o"></i> Contact