section.ContainerL

  .Row--a
    
    article.Column--8.Post
      
      h1.Post-title #{pageTitle}
      h4.Post-date Last update: <time datetime="#{postDateMeta}">#{postDate}</time>

      block main-content

    .Column--4.ContainerL.ContainerL--lineTRBL

      p This is a sidebar

