extends ../1-Templating/3-Templates/template-index

append config
  
  - pageTitle = "Indent UI : A Responsive Framework for Websites and Web Apps"
  - metaDesc = "A fully customizable framework that makes it easy for you to build web sites and web apps."

block main-content
  
  #features.row--a

    .col--4.ta--center.ptb--xl
  
      h2  Customizable

      p <a href="#">IndentUI</a> is a fully customizable Front-End framework. You can build whatever UI you like, and still save an enormous amount of time. <a href="/posts/post/">Link to the first post</a>

      .btn.standard.orange: a(href="/nesto/") Click Here

    .col--4.ta--center.ptb--xl

      h2  Readable

      p Built exclusively with indented syntax, the code is extremely readable and short. It uses Jade for HTML templating, Sass for CSS and CoffeeScript for behavior. <a href="/page/">Link to the page</a>

      .btn.standard.green: a(href="/nesto2/") Click Here

    .col--4.ta--center.ptb--xl

      h2  Performant

      p The final product is fast and performant. You end up with concatenated and minifed HTML, CSS and JavaScript files. Also, there is no bloat and all files are very small.

      .btn.standard.blue: a(href="/nesto/") Click Here