extends ../1-Templating/3-Templates/template-index

append config
  
  - pageTitle = "Indent UI : A Responsive Framework for Websites and Web Apps"
  - metaDesc = "A fully customizable framework that makes it easy for you to build web sites and web apps."

block main-content
  
  #features.ContainerL.ContainerL--standard

    .Row--a

      .Column--4.u-centerText.u-pbXLMedia
    
        h2 Customizable

        p <a href="#">IndentUI</a> is a fully customizable Front-End framework. You can build whatever UI you like, and still save an enormous amount of time. <a href="/posts/post/">Link to the first post</a>..

        .Button.Button--m.Button--orange: a(href="/nesto/") Link 1

      .Column--4.u-centerText.u-pbXLMedia

        h2 Readable

        p Built exclusively with indented syntax, the code is extremely readable and short. It uses Jade for HTML templating, Sass for CSS and Javascript for logic.

        .Button.Button--m.Button--green: a(href="/nesto2/") Link 2

      .Column--4.u-centerText

        h2 Performant

        p The final product is fast and performant. You end up with concatenated and minifed HTML, CSS and JavaScript files. There is no bloat, all files are small.

        .Button.Button--m.Button--blue: a(href="/nesto/") Link 3