
// -------------------- Button -------------------- //

.Button
  border: 0
  border-radius: rem( 4px )
  display: inline-block
  transition-duration: 0.5s
  a 
    display: block
    text-decoration: none
    color: palette( white )
    font-weight: 300
    font-family: $font-family--b
    &:hover
      color: palette( white )
      text-decoration: none
  +mediaQueries( medium )
    display: block
    text-align: center
    max-width: 45vw
    margin: 0 auto
  +mediaQueries( small )
    display: block
    text-align: center
    width: 70vw
    margin: 0 auto


// --- Size --- //

.Button--XL 
  font-size: $font-size--l
  a
    padding: rem( 15px ) rem( 30px ) rem( 15px ) rem( 30px )
  +mediaQueries( medium )
    font-size: $font-size--l--bpm
  +mediaQueries( small )
    font-size: $font-size--l--bps

.Button--M
  font-size: $font-size--base
  a
    padding: rem( 10px ) rem( 25px ) rem( 10px ) rem( 25px )
  +mediaQueries( medium )
    font-size: $font-size--base--bpm
  +mediaQueries( small )
    font-size: $font-size--base--bps


// --- Colors --- //

.Button--red
  border: 3px solid palette( red, dark )
  background-color: palette( red )
  &:hover,
  &:active,
  &:focus
    background-color: palette( red, dark )

.Button--blue
  border: 3px solid palette( blue, dark )
  background-color: palette( blue )
  &:hover,
  &:active,
  &:focus
    background-color: palette( blue, dark )

.Button--green
  &:hover,
  &:active,
  &:focus
    background-color: palette( green, dark )

.Button--orange
  &:hover,
  &:active,
  &:focus
    background-color: palette( orange, dark )


// -------------------- Button--hamburger -------------------- //

.Button--hamburger
  border: 1px solid palette( grey, light )
  cursor: pointer
  display: none
  float: right
  margin: rem( 15px ) rem( 20px ) rem( 15px ) 0
  padding: rem( 5px )
  transition-duration: 0.5s
  &:hover,
  &:active,
  &:focus
    background: palette( grey, light )
  .fa-bars
    padding-left: rem( 10px )
    font-size: $font-size--base
    color: palette( grey, dark )
    +mediaQueries( small )
      padding-left: rem( 5px )
  +mediaQueries( medium )
    display: inline-block
  +mediaQueries( small )
    display: inline-block


// -------------------- Button--toTop -------------------- //

.Button--toTop
  background: inherit
  border: 1px solid palette( grey )
  display: none
  position: fixed
  bottom: rem( 40px )
  right: rem( 40px )
  &:hover
    background: palette( grey, dark )
  .fa-chevron-up
    font-size: $font-size--s
    padding: rem( 10px ) rem( 15px )
    color: palette( grey, base)
    &:hover
      color: palette( white )
  +mediaQueries( medium )
    bottom: rem( 20px )
    right: rem( 20px )
  +mediaQueries( small )
    bottom: rem( 20px )
    right: rem( 20px )