
// -------------------- Button -------------------- //

.Button
  border: 0
  border-radius: rem( 4px )
  display: inline-block
  transition-duration: 0.5s
  a 
    display: block
    text-decoration: none
    color: $white
    font-weight: 300
    font-family: $font-family--b
    &:hover
      color: $white
      text-decoration: none
  +mediaQueries( medium )
    display: block
    text-align: center
    max-width: 45vw
    margin: 0 auto
  +mediaQueries( small )
    display: block
    text-align: center
    width: 70vw
    margin: 0 auto


// ----- Size ----- //

.Button--XL 
  font-size: $font-size--l
  a
    padding: rem( 15px ) rem( 30px ) rem( 15px ) rem( 30px )
  +mediaQueries( medium )
    font-size: $font-size--l--bpm
  +mediaQueries( small )
    font-size: $font-size--l--bps

.Button--M
  font-size: $font-size--base
  a
    padding: rem( 10px ) rem( 25px ) rem( 10px ) rem( 25px )
  +mediaQueries( medium )
    font-size: $font-size--base--bpm
  +mediaQueries( small )
    font-size: $font-size--base--bps


// ----- Colors ----- //

.Button--red
  +buttonColor( $red, 3px, solid, $red--dark )
  &:hover,
  &:active,
  &:focus
    background-color: $red--dark

.Button--blue
  +buttonColor( $blue, 3px, solid, $blue--dark )
  &:hover,
  &:active,
  &:focus
    background-color: $blue--dark

.Button--green
  +buttonColor( $green, 3px, solid, $green--dark )
  &:hover,
  &:active,
  &:focus
    background-color: $green--dark

.Button--orange
  +buttonColor( $orange, 3px, solid, $orange--dark )
  &:hover,
  &:active,
  &:focus
    background-color: $orange--dark


// -------------------- Button--hamburger -------------------- //

.Button--hamburger
  border: 1px solid $grey--light
  cursor: pointer
  display: none
  float: right
  margin: rem( 15px ) rem( 20px ) rem( 15px ) 0
  padding: rem( 5px )
  transition-duration: 0.5s
  &:hover,
  &:active,
  &:focus
    background: $grey--light
  .fa-bars
    padding-left: rem( 10px )
    font-size: $font-size--base
    color: $grey--dark
    +mediaQueries( small )
      padding-left: rem( 5px )
  +mediaQueries( medium )
    display: inline-block
  +mediaQueries( small )
    display: inline-block


// -------------------- Button--toTop -------------------- //

.Button--toTop
  background: inherit
  border: 1px solid $grey
  display: none
  position: fixed
  bottom: rem( 40px )
  right: rem( 40px )
  &:hover
    background: $grey--dark
  .fa-chevron-up
    font-size: $font-size--s
    padding: rem( 10px ) rem( 15px )
    color: $grey
    &:hover
      color: $white
  +mediaQueries( medium )
    bottom: rem( 20px )
    right: rem( 20px )
  +mediaQueries( small )
    bottom: rem( 20px )
    right: rem( 20px )