extends ../../2-Templating/3-Templates/template-index

append config
  - pageTitle = "Indent UI : A Responsive Framework for Websites and Web Apps"
  - metaDesc = "A fully customizable framework that makes it easy for you to build web sites and web apps."

block main-content

  :markdown
    This is supposed to be a **blog post**, but I don't think that I can write in Markdown, since the output simply doesn't minify itself, and I'm a bit crazy when it comes to speed, you know.

    ## I'll try it anyways

    Since I have nothing to lose, I'll still try it.