
//- Global variables

- baseURL = "http://localhost:8001"


//- Page variables

- titleTag = "Title Tag : IndentUI"
- pageTitle = "Page Title"
- metaDesc = "Meta Description : IndentUI"


//- Webmaster tools validation 

- bingWMTValidate = "--BING WEBMASTER TOOLS VALIDATION NUMBER--"
- googleWMTValidate = "--GOOGLE WEBMASTER TOOLS VALIDATION NUMBER--"

//- jQuery on page

- jQuery = true